[Desktop Entry]
Type=Application
Name=discord-screenaudio
Exec=discord-screenaudio
Comment=A custom discord client that supports streaming with audio on Linux.
Icon=de.shorsh.discord-screenaudio
Categories=Network;InstantMessaging;
Terminal=false
