/* SPDX-FileCopyrightText: 2022 Malte Jürgens and contributors

SPDX-License-Identifier: GPL-3.0-or-later */

.vc-themes,
.vc-cloud,
.vc-backup-restore {
  display: none;
}

/* The round buttons in the voice chat interface */
.wrapper__3f3a7 > div > div > .controlButton_ab2899 {
  display: none;
}
